.top {
    background: #16a085;
    color: #ecf0f1;
    padding: 10px 0;
}

.top > span {
    font-size: 30px;
    font-weight: bold;
    padding-left: 2rem;
}

.top > div {
    float: right;
    padding: 10px;
}

.top > div > span {
    padding: 0 10px;
}

.content {
    background: #ecf0f1;
    height: 100vh;
}

form {
    text-align: center;
    padding: 10px 0;
}

.item {
    padding: 0 50px;
}

.card {
    width: 31.5%;
    margin: 0 10px;
    background: #FFF;
    display: inline-block;
    box-shadow: 0 4px 5px 2px rgba(50,50,50,.4);
}

.card > img {
    max-width: 100%;
}

.card-body {
    padding: 20px;
}

.bottom {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #16a085;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
}